* {
  box-sizing: border-box;
}
img{
  display: block;
}

header{
  border: 2px solid #89C4F4;
  padding: 10px;
}

header img{
  max-width: 50px;
}

h2 {
  padding: 5px;
}

nav {
  background: #333;
  text-align: center;
  color: #89C4F4;
}

nav > * {
  padding: 20px 0;
  border: 2px solid #89C4F4;
}

.nav__selected{
  background: #89C4F4;
  color: #333;
}

/* Landing.js */
div.landing h2{
  color: #fff;
  background: #005c97; /* fallback for old browsers */
}

div.landing button {
  float: right;
  display: block;
}

div.landing ul{
  padding: 0;
} 
div.landing li {
  list-style-type: none;
  display: inline-block;
  padding: 8px;
  margin: 8px;
  background: #89C4F4;
}


/* About.js */
div.about h2{
  background: #C0392B;
  color: #fff;
}


/* About.js */
div.directory h2{
  background: #049372;
  color: #fff;
}

div.directory figure{
  padding: 15px;
  border: #ccc 1px solid;
  border-radius: 3px;
}

div.directory figure button:nth-of-type(1) {
  background: #89C4F4;
}

div.directory figure button:nth-of-type(2) {
  background: #9B59B6;
  color: #fff;
}


/* Login.js */
div.login h2{
  background: #34495E;
  color: #fff;
}




figure div{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background: #eee;
  border-radius: 50%;
}